




    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">


        <div class="item active">
					<%= image_tag("two.png") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Become a RedKite Hero today.</h1>
              <p>Help us spread the world and help a family by sharing </p>
            </div>
          </div>
        </div>
				
				
				        
				
				<div class="item ">
          <%= image_tag("three.png") %>
          <div class="container">
            <div class="carousel-caption">
								<h1>“Redkite is a solid rock. I know when I ring that no one is going 
																to judge me. They listen and they find solutions.” </h1>
																<p>– A Mum supported by Redkite (need to run by Rosie) </p>
																
								
								
            </div>
          </div>
        </div>
				
				
        <div class="item">
          <%= image_tag("one.png") %>
          <div class="container">
            <div class="carousel-caption">
							<h1>“Redkite stepped in and paid some bills…Taking that worry for 
														me so I could concentrate on my son and family” </h1>
							<p>– A Family’s thanks. </p>
							
							
            </div>
          </div>
        </div>
				
				

				
				
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
 

    <div class="container marketing">




			
			<div class="row" style="text-align: center;margin-bottom: 35px;">
				
				
				<a class="btn btn-lg btn-primary" href="#" role="button" style="text-align: center;width: 50%;">
					
					  <span class="glyphicon glyphicon-heart"></span>
						<!-- <span class="glyphicon glyphicon-heart-empty"></span> -->
					Become a Hero</a>
				</div>
			<hr />
			

      <!-- Three columns of text below the carousel -->
      <div class="row">
        
				<div class="col-lg-4">
          <!-- <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image"> -->
					<span class="home_icons glyphicon glyphicon-refresh"></span>
          <h2>
						 1. Share</h2>
          <p>Share the RedKite's story and inform the world! We will provide you a unique links with content and hashtags. Make everyone be part of this</p>
        </div><!-- /.col-lg-4 -->
				
				
        <div class="col-lg-4">
          <!-- <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image"> -->
					<span class="home_icons glyphicon glyphicon-ok"></span>
          <h2>
						
						 2. Verify</h2>
          <p>Verify your points! We will messure your points based on the shares, like and retweets you make! You have a unique id so we can search in the internet</p>
        </div><!-- /.col-lg-4 -->
				
				
        <div class="col-lg-4">
          <!-- <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image"> -->
					<span class="home_icons glyphicon glyphicon-thumbs-up"></span>
          <h2>
						
						
						 3. Become Hero</h2>
          <p>Now you are officially a RedKit Hero! Thank you! Embed the badge to your website and share with your friends</p>
        </div><!-- /.col-lg-4 -->
				
				
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Redkite, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
